.zero {
  background-color: #f00;
  color: #0ff;
}

.single {
  background-color: #0f0;
  color: #f0f;
}

.double {
  background-color: #00f;
  color: #ff0;
}

.more {
  background-color: #f0f;
  color: #0f0;
}
